#about
{
    background-color: var(--surface-color);

    & .even-columns
    {
        gap: 0;
    }
}

@media (width >= 80em)
{
    #about .even-columns
    {
        gap: 2rem;
        grid-template-columns: calc(640 / 1216 * 100%) calc(544 / 1216 * 100%);
    }
}