#hero
{
    text-align: center;
    padding-top: 4rem;

    & .container
    {
        width: auto;
    }

    & img[src*="Music"]
    {
        width: 12.875rem;
    }

    & h1
    {
        margin-top: 1rem;
    }

    & p
    {
        font: var(--fw-md) var(--fs-lg)/1.4 var(--ff-sans);
        color: var(--text-color-secondary);
        margin-top: 0.5rem;
    }

    & .buttons
    {
        justify-content: center;
        margin-top: 2rem;
    }
}

@media (width >= 80em)
{
    #hero
    {
        background: url(../assets/icons/Illustration.svg) no-repeat bottom center/contain;
        padding-block: var(--py-xl) 14.9375rem;

        & img[src*="Music"]
        {
            width: 25.75rem;
        }

        & h1
        {
            margin-top: 1.5rem;
        }

        & p
        {
            margin-top: 1rem;
            font-size: 2.5rem;
        }

        .buttons
        {
            margin-top: 3rem;
        }
    }
}